Importar o conjunto de dados presentes na pasta **"bases"**

In [71]:
import pandas as pd

df = pd.read_csv('airbnb_ny_2019.csv')
df_viz = pd.read_csv('mapeamento_vizinhanca.csv', error_bad_lines=False, sep=';')

**Remover linhas duplicadas**

In [73]:
df_without_duplicates = df.drop_duplicates()

**Remover linhas com valores nulos**

In [75]:
df1 = df_without_duplicates.dropna()

Juntar as **bases airbnb_ny_2019** e **mapeamento_vizinhanca** através de um join (**neighbourhood** <-> **vizinhanca**)

In [84]:
residencias = df1.merge(df_viz, left_on='neighbourhood', right_on='vizinhanca',
          suffixes=('_left', '_right'))

Remover a coluna **vizinhanca** após o join

In [85]:
residencias = residencias.drop(columns=['vizinhanca'])

Trocar o nome da coluna de **vizinhanca_grupo** para **neighbourhood_group**

In [86]:
 residencias = residencias.rename(columns={"vizinhanca_grupo": "neighbourhood_group"})

Filtre a coluna neighbourhood_group e mantenha apenas os valores 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'

In [87]:
neighbourhood_groups = ['Brooklyn', 'Manhattan', 'Queens', 'Staten Island']
df_residencias = residencias[ residencias['neighbourhood_group'].isin(neighbourhood_groups)]

Após todos os filtros mencionados acima, gere uma base chamada residencias.csv

In [95]:
df_residencias.to_csv('residencias.csv')

A partir da base **residencias.csv**, gere também uma base **media_preco.csv** com a média de preços por tipo de quarto (coluna room_type) e grupo do bairro (coluna neighbourhood_group)

In [98]:
new_df = pd.read_csv('residencias.csv')
media_preco = new_df.groupby(['neighbourhood_group','room_type'])['price'].mean().reset_index()
media_preco = media_preco.set_index('neighbourhood_group')
media_preco.to_csv('media_preco.csv')

                           room_type       price
neighbourhood_group
Brooklyn             Entire home/apt  171.281897
Brooklyn                Private room   73.349562
Brooklyn                 Shared room   45.458621
Manhattan            Entire home/apt  230.200964
Manhattan               Private room  106.607488
Manhattan                Shared room   77.980337
Queens               Entire home/apt  139.225603
Queens                  Private room   69.302838
Queens                   Shared room   64.467105
Staten Island        Entire home/apt  125.366667
Staten Island           Private room   57.584906
Staten Island            Shared room   57.600000